@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.input{
    border-radius: 37px;
    max-height: 52px;
    border: 1px solid $dark1;
    max-width: 300px;
    padding: 20px;
    outline: none;
}