@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.input{
    border-radius: 37px;
    border: 1px solid $dark1;
    padding: 20px;
    outline: none;
    @media only screen and (max-width: 480px){
        width: 100%;
    };
}