:root {
  --screen-height: 100px;
}

// colors
/// dark
$dark: #494949;
$dark10: #8a8a8a;
$dark60: #595959;
$dark1: #383838;
$dark2: #929292;
$dark3: #333333;

/// light
$light: #f3f2f2;
$light2: #c4c4c4;
$light3: #ebebeb;
$light4: #c2c2c2;

$gradientBlue: linear-gradient(#4d6ad0, #75acff);
$lightTextColor: #c1c1c1;
$auctionBorder: linear-gradient(#ff7c02, #fff509, #ff2cd0, #ff7c02);
$red: #de0000;
$darkBlue: #2b4581;
$primary: #3983f2;
$secondary: #d3d3d3;
