:root {
    --screen-height: 100px;
  }
  
  // colors
  $dark: #494949;
  $dark10: #8a8a8a;
  $dark60: #595959;
  $dark1: #383838;
  $light: #F3F2F2;
  $light2: #c4c4c4;
  $gradientBlue: linear-gradient(#4D6AD0, #75ACFF);
  $lightTextColor: #c1c1c1;
  $auctionBorder: linear-gradient(#FF7C02, #FFF509, #FF2CD0, #FF7C02);
  $red: #DE0000;
  $primary: #5D97EF;