:root {
    --screen-height: 100px;
  }
  
  // colors
  $dark: #494949;
  $dark10: #8a8a8a;
  $dark60: #595959;
  $dark1: #383838;
  $dark2: #929292;
  $light: #F3F2F2;
  $light2: #c4c4c4;
  $light3: #EBEBEB;
