@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.button{
    border-radius: 37px;
    width: 161px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button--small{
    width: 104px;
    height: 52px;
}

.button--large{
    width: 235px;
    height: 50px;
}
.button--primary{
    background-image: $gradientBlue;
    color: #fff;
}
.button--secondary{
    background-color: #fff;
    color: $primary;
    border-color: $primary;
}
.button--tertiary{
    background-color: $lightBlue;
    color: #fff;
}
