@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container{
    width: 350px;
    height: 52px;
    border-radius: 39px;
    background-color: $light2;
    display: flex;
    justify-content: space-between;

    .input-box{
        background-color: $light2;
        border-radius: 39px 0px 0px 39px;
        border: none;
        width: 80%;
    }
}