@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'assets/scss/abstracts/functions';
@import 'assets/scss/abstracts/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;

  h2 {
    font-size: pxToRem(30);
    font-weight: 700;
    margin: 0;
  }
}
.button {
  display: flex;

  button:nth-child(1) {
    margin-right: 20px;
  }
  @media screen and (max-width: $breakpointPhone) {
    display: none;
  }
}
