@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/variables';

.contatiner {
  padding-bottom: 55px;

  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.33fr));
    column-gap: 20px;

    @media only screen and (max-width: $breakpointTablet) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    }

    @media only screen and (max-width: $breakpointPhone) {
      display: block;
    }
  }

  .btn {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}
