@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/variables';

.contatiner {
  padding: 55px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      font-size: pxToRem(30);
      font-weight: 700;
      margin: 0;
    }
  }
  .button {
    display: flex;

    button:nth-child(1) {
      margin-right: 20px;
    }
    @media screen and (max-width: $breakpointPhone) {
      display: none;
    }
  }
  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;

    @media only screen and (max-width: $breakpointPhone) {
      display: block;
    }
  }

  .btn {
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}
