@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.accordionItem {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;

    @media only screen and (max-width: $breakpointPhone){
        border-radius: 15px;
    }
}

.accordionItemActive {
    .accordionHeader {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        .button {
            border-bottom-right-radius: 20px;
        }
    }
}

.accordionHeader {
    height: 60px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    color: $primary;

    .button {
        width: 80px;  
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        margin-right: 20px;
    }

    @media only screen and (max-width: $breakpointPhone){
        height: 50px;

        .button {
            width: 60px;

            img {
                transform: scale(0.9);
            }
        }
    }
}


.accordionBody {
    padding: 40px;
    font-size: pxToRem(14);
    font-weight: 400;

    div,
    p,
    ul {
     margin: 0 0 24px;
     font-weight: 400;
    }

    h2, h3, h4 {
        margin: 0 0 24px;
        font-weight: 700;
        color: #252935;
        font-size: pxToRem(16);
    }

    img {
        border-radius: 30px;
        max-width: 100%;
    }

    @media only screen and (max-width: $breakpointPhone){
        padding: 20px 25px;

        div,
        p,
        ul {
            margin-bottom: 15px;
        } 

        h2, 
        h3, 
        h4 {
            font-weight: 500;
            margin-bottom: 15px;
        }
        
        img {
            border-radius: 15px;
        }
    }
}

