@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container{
    background-color: $light2;
    color: #fff;

    .title{
        margin: 0;
        font-size: pxToRem(18);
        line-height: 1;
        font-weight: 700;
    }

    p{
        margin-top: 0px;
        font-weight: 400;
    }
}
  