@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container{
    background-color: $light2;

.title{
    margin: 0;
    font-size: 20px;
}

p{
    margin-top: 0px;
}
}
  