@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.active-tab{
        background-color: $primary;
        color: #fff;
        border-radius: 13px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        box-shadow: 0px 16px 13px -12px rgba(0, 0, 0, 0.15);
}

.inActive{
    color: $lightText;
    margin: 0;
    margin-top: 10px;
}
