@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 33px 34px -18px rgba(0, 0, 0, 0.15);
}