@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container{
    background-color: #fff;
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.06);
}