@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/variables';

.header {
  font-size: pxToRem(30);
  font-weight: 700;
  margin: 0 0 54px;
}

.card-wrapper {
  max-width: 20%;

  @media screen and (max-width: 1024px) {
    max-width: 35%;
  }

  @media screen and (max-width: $breakpointPhone) {
    max-width: 100%;
  }
}
