@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container {
  width: 100%;

  h2 {
    margin-top: 0;
  }
  h3,
  h4,
  p,
  span {
    font-size: pxToRem(14);
  }
  h4 {
    span {
      margin-left: 10px;
      color: $lightText;
    }
  }

  .title {
    color: $primary;
    font-size: pxToRem(24);
  }
  .top-text {
    display: flex;
    margin-top: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &:first-child {
        margin-right: 30px;
      }

      li {
        font-size: pxToRem(14);
        font-style: normal;
        color: $light2;
        margin-right: 6px;
        margin-bottom: 20px;

        span {
          color: #000;
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
  }
  .creator-name {
    margin-top: 0;
  }

  .description {
    font-size: pxToRem(14);
    color: black;
    line-height: 26px;
    margin: 0;
    white-space: pre-wrap;
    span {
      &.button {
        color: $primary;
        font-weight: 500;
        cursor: pointer;
      }
      &.hidden {
        display: none;
      }
    }
  }
  .user-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
    @media only screen and (max-width: $breakpointPhone) {
      flex-direction: column;
    }
  }
  .user-details{
    width: calc(50% - 10px);
  }
  .user-details-text {
    margin-top: 30px;
    color: black;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    span {
      font-size: 14px;
      line-height: 21px;
      color: $dark2;
    }
  }
  img.mark {
    position: absolute;
    right: -2px;
    bottom: 5px;
  }
  .user-photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.02em;
      margin-left: 18px;
    }
    div {
      position: relative;
      width: 47px;
      height: 47px;
    }
  }
  .box-container {
    display: block;
    margin: 20px 0;
    padding: 0;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.06);

    .tab-container {
      display: flex;
      list-style: none;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 15px;
      width: 85%;
      cursor: pointer;
    }
    .content {
      color: $lightText;
      margin: 0 20px;
      padding: 10px;
    }
    .block {
      padding: 18px 18px 28px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.06);
      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .img {
          position: relative;
          margin-right: 18px;
        }
        p {
          font-size: 14px;
          line-height: 21px;
          letter-spacing: -0.02em;
          margin-left: 18px;
          span {
            font-size: 12px;
            line-height: 18px;
            color: #a2a2a2;
          }
        }
      }
    }
  }
}
