@import '../../assets/scss/abstracts/functions';
@import '../../assets/scss/abstracts/variables';

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}