@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/variables';

.contatiner {
  padding-bottom: 54px;
}

.slide {
  display: flex;
  justify-content: space-between;
  
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.small-cards-wrapper {
  columns: 3;
  width: 60%;

  @media only screen and (max-width: 1024px) {
    columns: 2;
    width: 100%;
    margin-top: 24px;
  }

  .card {
    height: 195px;
    padding: 20px;
    margin-bottom: 20px;
  }
}

.big-card-wrapper {
  width: calc(40% - 20px);
    
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  .card {
    height: 440px;
    @media only screen and (max-width: 1024px) {
      height: 340px;
    }
    @media only screen and (max-width: $breakpointPhone) {
      height: 240px;
    }
  }
}
