@import './assets/scss/abstracts/functions';
@import './assets/scss/abstracts/variables';

:root {
  --screen-height: 100px;
}

button {
  border: none;
  outline: none;
  font-weight: 300;
}
body {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  margin: 0 auto;
  background-color: #FBFEFF;
}
h2{
    font-weight: 400;
    font-size: 30px;
    color: $primary;
}
h3{
    font-size: 16px;
    color: $primary;
}
p{
    font-weight: 300;
    font-size: pxToRem(14);
}
a{
    text-decoration: none;
    outline: none;
}