@import './assets/scss/abstracts/functions';
@import './assets/scss/abstracts/variables';

body{
    width: 90%;
    margin: 0 auto;
    background-color: #F8FBFF;;
}

h2{
    font-weight: 400;
    font-size: 30px;
    color: $primary;
}
h3{
    font-size: 16px;
    color: $primary;
}
p{
    font-weight: 300;
    font-size: 14px;
}
a{
    text-decoration: none;
    outline: none;
}