@import '../../../../assets/scss/abstracts/functions';
@import '../../../../assets/scss/abstracts/variables';

.container {
  margin-bottom: 20px;
  display: block;
  max-width: 190px;
  background-color: #fff;
  page-break-inside: avoid;
  break-inside: avoid;
  max-width: 100%;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
    font-weight: 300;
    color: $dark10;
  }

  .title {
    max-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

  .header {
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    padding-bottom: 15px;

    .header-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: #000;
        font-weight: 400;
      }
    }

    .span-container {
      display: flex;
      margin-top: 0px;
    }

    .span {
      width: 32px;
      height: 32px;
      background-color: $primary;
      border-radius: 50%;
      display: inline-flex;
      margin-left: -4px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;

      .option {
        position: absolute;
        top: 40px;
        left: 0px;
        width: fit-content;
        box-shadow: 0px 0px 45px 0px rgba(19, 15, 73, 0.13);
        border-radius: 5px;
        z-index: 100;
        background-color: #fff;
        max-height: 200px;
        padding: 15px 20px;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          cursor: pointer;

          li {
            color: #000;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .dots {
      width: 24px;
      height: 24px;
    }

    .avatar {
      border-radius: 50%;
    }

    .span:nth-child(2) {
      background-color: $primary;
      display: flex;
      justify-content: center;
    }
  }

  .image {
    margin: 0 auto;
    position: relative;
    width: calc(100% + 20px);
    margin-left: -10px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $breakpointPhone) {
      height: auto;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 11px;
      box-shadow: 0px 15px 22px -8px rgba(2, 134, 255, 0.33);

      @media only screen and (max-width: $breakpointPhone) {
        width: 100%;
      }
    }

    .time-wrapper {
      position: absolute;
      right: 0;
      top: -10px;
      background: linear-gradient(45deg, #ff7c02, #fff509);
      padding: 2px;
      z-index: 99;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
      border-radius: 7px;
    }

    .time {
      display: block;
      justify-content: center;
      align-items: center;
      color: #000;
      font-weight: 500;
      font-size: pxToRem(14);
      padding: 5px 10px 5px;
      border-radius: 7px;
      background: #fff;
    }
  }

  .footer {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 0 0 30px 30px;

    .likes-wrapper {
      display: flex;
      align-items: center;
    }

    .amount {
      display: flex;
      justify-content: space-between;
    }
    .bid {
      display: flex;
      justify-content: space-between;
    }

    .bid-value {
      margin-right: 10px;

      .liked {
        color: $red;
      }
    }
  }

  .quantity {
    position: absolute;
    color: #fff;
    top: 15px;
    right: 15px;
  }
}
