@import '../../../assets/scss/abstracts/functions';
@import '../../../assets/scss/abstracts/variables';

.container {
  max-width: 100%;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $breakpointPhone) {
    padding: 25px 0;
  }

  .logo {
    display: flex;
    .logo-icon {
      @media only screen and (max-width: $breakpointPhone) {
        width: 90%;
      }
      margin-right: 36px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    position: relative;

    .list {
      display: inline-flex;
      align-items: center;
      list-style: none;
      font-size: pxToRem(14);
      font-weight: 700;
      padding: 0;
      margin: 0;

      .nav {
        cursor: pointer;
        display: inline-block;
        color: $light2;
        text-decoration: none;
        margin-right: 33px;
        @media only screen and (max-width: $breakpointPhone) {
          margin-right: 13px;
        }
      }

      .active-nav {
        background-image: $gradientBlue;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .signin-btn {
        background-color: $dark10;
        border-radius: 37px;
        width: 161px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }

    .icon {
      margin: 0;
    }
  }
}

.wallet-list {
  display: inline-flex;
  list-style: none;
  font-size: pxToRem(14);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.wallet-icon {
  display: flex;
  align-items: flex-start;
  height: 44px;
  border-radius: 16px;
  background-color: #3983f2;
  display: flex;
  overflow: hidden;
}

.wallet-wrapper {
  z-index: 170;
  display: flex;
  flex-direction: row;
}

.wallet-name {
  font-size: 13px;
  line-height: 21px;
  color: #fff;
  margin-right: 15px;

  @media only screen and (max-width: $breakpointPhone) {
    min-width: 50px;
  }

  letter-spacing: -0.02em;
}

.option {
  position: absolute;
  top: 60px;
  right: 0px;
  width: fit-content;
  box-shadow: 0px 0px 45px 0px rgba(19, 15, 73, 0.13);
  border-radius: 16px;
  z-index: 100;
  background-color: #fff;
  max-height: fit-content;
  padding: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    a {
      color: #000;
      margin-bottom: 30px;
      font-size: 16px;
      width: 100%;

      li {
        color: #000;
        padding-left: 20px;

        &:hover {
          background-color: #f7f7f7;
          padding: 10px 0 10px 20px;
          border: 5px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
